node_modules/
dist/
.env
*.log
client/node_modules/
client/dist/
server/node_modules/
server/dist/
server/prisma/dev.db
server/prisma/dev.db-journal
.DS_Store
*.db
*.db-journal
*.png
*.err
TZ/
node_modules/
server/prisma/dev.db-shm
server/prisma/dev.db-wal
.hermes/
